<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ud.share"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:name="com.ud.share.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="design_width_in_dp"
            android:value="375"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="667"/>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ae62c66cbe9d3da774f39c555bb9cd3a" />

        <activity android:name="com.ud.share.ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.ud.share.ui.MainActivity"
                  android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.ud.share.ui.login.LoginActivity"></activity>
        <activity android:name="com.ud.share.map.MapActivity"/>


        <!--@style/PhotoTheme是图片选择界面样式，文档有提供，不要漏掉添加到values/styles里-->
        <activity
            android:name="com.walkermanx.photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="com.walkermanx.photopicker.PhotoPagerActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"/>
        <service android:name="com.amap.api.location.APSService"/>

        <!--<receiver-->
            <!--android:name="com.ud.share.AppRegister"-->
            <!--android:permission="com.tencent.mm.plugin.permission.SEND" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <activity android:name="com.ud.share.wxapi.WXEntryActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"

                  android:exported="true"
                  android:launchMode="singleTask"
                  />

    </application>

</manifest>